#blog-box {
    padding-top: 2rem;
    display:flex;
}


.blog-container {
    /*padding-top: 3rem;*/
    width: 850px;
    display:flex;

    border: solid 2px;
    border-radius: 6px;
}


.blog-content-wrapper {
    width: 100%;
    display:flex;
    flex-direction: column;
    padding-left: 2rem;
    background: #d7d7d7;
    max-height: 200px;
    min-width: 400px;
    overflow: hidden;
}

.blog-image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: grey;
    width:400px;
    height: 200px;
    aspect-ratio: 16/9;
}


.blog-content {
    display:flex;
}


#filter {
    width: 100%; 
    height: 100%;
    display:flex;
    justify-content: center;
    position:absolute;
    background: white;
    opacity: 85%;

}

#filter > p {
    padding-top: 10rem;
}

@media only screen and (max-width: 1000px) {
    .blog-container {
        width: 80vw;
        flex-direction: column;
        align-items: center;
    }

    .blog-content-wrapper {
        align-items: center;
        padding-left: 0;
        width: 100%;
        max-height: 300px;

    }

    .blog-content {
        text-align :center;
        padding: 0 5rem;
    }
    .blog-image {

        width: 80vw;
    }

}

@media only screen and (max-width: 500px) {
    .blog-image {
        width: 80vw;
    }
    .blog-content-wrapper {
        width: 80vw;
        min-width: 0;
    }
}