
.heading {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.Underline {
    text-decoration-color: #D2AFFF;
}

.nav {
    display:flex;
    flex-direction:row; 
    justify-content:center;
    grid-gap: 30rem;
}


.links {
    display:flex;
    grid-gap: 5rem;
}

.links > a {
    color: black;
    text-decoration: none;
}

.icons {
    display: flex;
    grid-gap: 2rem;
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 900px) {

    .nav {
        flex-direction: column;
        align-content: space-between;
        grid-gap: 1rem;
    }

    .links {
        justify-content: center;
        grid-gap: 2rem;
    }

    .icons {
        justify-content: center;

    }
 
}