.projects-container {
    padding-top: 3rem;
    width: 60%;
    display:flex;


}


.content-wrapper {
    width: 100%;
    display:flex;
    flex-direction: column;
    /*background: #d7d7d7;*/
    max-height: 300px;
    min-width: 400px;
    overflow: hidden;
    padding-left: 5px;
}

.content-wrapper h1 {
    background: var(--flint);
    margin : 0;
    padding: 20px 10px;
    border-radius: 5px;
}



.image {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*background: grey;*/
    width: 400px;
    height: 250px;
    aspect-ratio: 16/9;
}

.image > img {
    display:flex;
    height: 100%;

    object-fit: cover;
    overflow: hidden;

}

.image > img:hover {
    transform: scale(1.03);
    cursor: pointer;
}


.content {
    padding: 10px;
    display:flex;
    background: var(--darker-than-background);
    height: 100%;
}


@media only screen and (max-width: 1100px) {
    .projects-container {
        flex-direction: column;
        align-items: center;

    }

    .content-wrapper {
        padding-left: 0;
        width: 300px;
        max-height: 400px;

    }

    .content-wrapper > h1 {
        display: flex;
        justify-content: center;
        padding: 10px 10px;
    }

    .content {  
        height: 100%;
    }


    .image > img {
        width: 100%;
    }

}

@media only screen and (max-width: 500px) {
    .image {
        width: 80vw;
        height: 200px;
    }

    .content-wrapper {
        width: 80vw;
        min-width: 0;
    }
}