html {
	background: var(--color-background);
	color: var(--color-text);
}

a, a:hover, a:active, a:visited {
 color: var(--color-text); 
}




.body-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}
