:root{
	font-family: 'Red Hat Display';
	--color-background: #242526;
	--color-text: white;
	--color-primary: white;

	--cloud: #c5c6d0;
	--flint : #7f7d9c;
	--grey: #808080;
	--darker-than-background: #202122;
}
